<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/pico.css">
    <title>Balance | {% block title %}{% endblock %}</title>
</head>
<body>

    <header>

        <div class="container">
            Income record
        </div>

    </header>
    <section class="container">
        {% block content %}{% endblock %}

    </section>
    <footer>
        <div class="container">
            Lovingly made in Quito, Ecuador.
        </div>
    </footer>
    
</body>
</html>