{% extends "base.html" %}

{% block title %}
    Movements
{% endblock %}

{% block content %}
    <h1>Movements list</h1>
    <table class="movements">
        <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Consept</th>
            <th>Type</th>
            <th>Amount</th>
        </tr>
        {% for movement in movements %}
        <tr>
            <td>{{ movement.date }}</td>
            <td>{{ movement.time }}</td>
            <td>{{ movement.consept }}</td>
            <td>{% if movement.type == 1 %} Income {% else %} expense {% endif %}</td>
            <td>{{ movement.amount }}</td>
            <td>
                <a href="/edit/{{ movement.id }}">Edit</a>
                <a href="/erase/{{ movement.id }}">Erase</a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}