{% extends "base.html" %}

{% block title %}
    Movements
{% endblock %}

{% block content %}
    <p>Here goes the content</p>
    <table>
        <tr>
            <th>Date</th>
            <th>Time</th>
            <th>Consept</th>
            <th>Type</th>
            <th>Amount</th>
        </tr>
        <tr>
            <th>{{ date }}</th>
            <th>{{ time }}</th>
            <th>{{ consept }}</th>
            <th>{{ type }}</th>
            <th>{{ amount }}</th>
        </tr>


    </table>
{% endblock %}